<!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container center">
        <h3>Gijutsu Solutions</h3>
          <p>
            10 Tengrahiya, West Champaran<br>
            India 845449<br><br>
            <strong>Email:</strong> contact@gijutsu.com<br>
          </p>
      </div>
    </div>

    <div class="container center">
      <div class="copyright-wrap d-md-flex py-4">
        <div class="center">
          <div class="copyright">
            &copy; Copyright <strong><span>Gijutsu Solutions</span></strong>.<br> All Rights Reserved
          </div>
          <div class="credits">
            <br> Designed by <a href="https://github.com/Cyrusroy001">Cyrus Roy</a>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/vendor/purecounter/purecounter.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>