<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Gijutsu Solutions</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/img/new_favicon.png" rel="icon" />

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/6670ced165.js"
      crossorigin="anonymous"
    ></script>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
        <a href="/" class="logo"
          ><img src="/img/new_favicon.png" alt="" class="img-fluid"
        /></a>
        <h1 class="logo"><a href="/">Gijutsu Solutions</a></h1>

        <nav id="navbar" class="navbar">
          <ul>
            <li class="dropdown nav-item">
              <!-- TODO: Active Tab is not highlighed -->
              <a href="/" class="nav-link"
                ><span>Home</span>
                <i class="bi bi-chevron-down"></i>
              </a>
              <ul>
                <li><a href="#services">Services</a></li>
                <li><a href="#products">Products</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#vision-n-mission">Vision and Mission</a></li>
                <li><a href="#contact">Contact Us</a></li>
              </ul>
            </li>

            <li class="dropdown nav-item">
              <a href="/services" class="nav-link"
                ><span>Services</span>
                <i class="bi bi-chevron-down"></i>
              </a>
              <ul>
                <li><a href="/services/webdev">Web Development</a></li>
                <li>
                  <a href="/services/smartphone">Smartphone Development</a>
                </li>
                <li><a href="/services/cloud">Cloud Migration</a></li>
                <li><a href="/services/ai">A.I. Service Development</a></li>
                <li class="dropdown">
                  <a href="/services/interpretation">
                    <span>Interpretation</span>
                    <i class="bi bi-chevron-right"></i>
                  </a>
                  <ul>
                    <li><a role="button">Japanese to English</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="/services/translation">
                    <span>Document Translation</span>
                    <i class="bi bi-chevron-right"></i>
                  </a>
                  <ul>
                    <li><a role="button">Japanese to English</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="/services/realtime">
                    <span>Real-time Interpretation</span>
                    <i class="bi bi-chevron-right"></i>
                  </a>
                  <ul>
                    <li><a role="button">Japanese to English</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="dropdown nav-item">
              <a role="button" class="nav-link"
                ><span>Products</span>
                <i class="bi bi-chevron-down"></i>
              </a>
              <ul>
                <li class="dropdown">
                  <a href="/products/smartphone">
                    <span>App Development</span>
                    <i class="bi bi-chevron-right"></i>
                  </a>
                  <ul>
                    <li><a role="button">India Ghumo</a></li>
                    <li><a role="button">Three Good Activities</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="/products/webdev">
                    <span>Web Development</span>
                    <i class="bi bi-chevron-right"></i>
                  </a>
                  <ul>
                    <li><a role="button">India Ghumo</a></li>
                    <li><a role="button">Three Good Activities</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="/products/web3dev">
                    <span>Web3 Development</span>
                    <i class="bi bi-chevron-right"></i>
                  </a>
                  <ul>
                    <li><a role="button">CatchUp</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a href="/about" class="nav-link"><span>About</span> </a>
            </li>

            <li class="dropdown nav-item">
              <a role="button" class="nav-link"
                ><span>Training</span>
                <i class="bi bi-chevron-down"></i>
              </a>
              <ul>
                <li><a href="#">Technical Training</a></li>
                <li><a href="#">Japanese Language Training</a></li>
              </ul>
            </li>

            <li>
              <a class="getstarted" href="">ENG ~ JPN</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->
  </body>
</html>
