<%- include('partials/header') %>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center">
      <div
        class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1>Our Services</h1>
        <h2>Go through this page to find out more about our services!</h2>
        <div>
          <a href="#get-started" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img"
        data-aos="zoom-in"
        data-aos-delay="150"
      >
        <img src="img/products-hero.png" class="img-fluid animated" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- ======= Overview Section ======= -->
<section id="overview" class="overview">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
        <h2>Services at Gijutsu</h2>
    </div>
    <div class="row gy-4 service-row">

      <!-- service item start -->
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="service-box orange-box">
          <img class="service-image" src="/img/service1.png" alt="" />
          <h4><a href="#">Andriod App Development</a></h4>
          <p>
            Do you want to have a new and optimized Android app for your business?
            Just with an app you are opening doors to reach more than 3.4 million 
            people across the globe. Initiate a requirement, we will design, develop,
            test and publish your new app.
          </p>
        </div>
      </div>
      <!-- service item start -->

      <!-- service item start -->
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="service-box yellow-box">
          <img class="service-image" src="/img/service4.png" alt="" />
          <h4>iOS App Development</h4>
          <p>
            We do not promise but we develop. Our experts, iOS designers and 
            developers work for new app development, modification of existing 
            apps and improvement of an existing iOS application so that your
            company can conquer the iOS market.
          </p>
        </div>
      </div>
      <!-- service item start -->

      <!-- service item start -->
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="service-box blue-box">
          <img class="service-image" src="/img/service2.png" alt="" />
          <h4>Hybrid App Development</h4>
          <p>
            Since our team is attributed with hybrid technologies when it comes
            to app development, we develop cross platform apps mainly for 
            Android and iOS devices. Same design, texts, versions, different 
            platforms- certainly add values to your business.
          </p>
        </div>
      </div>
      <!-- service item end -->

    </div>

    <div class="row gy-4 service-row">
      <!-- service item start -->
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="service-box green-box">
          <img class="service-image" src="/img/service4.png" alt="" />
          <h4>A.I. Service Development</h4>
          <p>
            Do you want to enable Artificial Intelligence services to your business? We support  new AI application development for new customers. Share your requirements with us to know more.
          </p>
        </div>
      </div>
      <!-- service item end -->

      <!-- service item start -->
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="service-box purple-box">
          <img class="service-image" src="/img/service3.png" alt="" />
          <h4>Cloud Migration</h4>
          <p>
            No hassle of buying new IT services, storage, device, or even platform. Reach us we will introduce you to the most affordable cloud migration plan as per your need and provide end to end support.
          </p>
        </div>
      </div>
      <!-- service item end -->

      <!-- service item start -->
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="service-box teal-box">
          <img class="service-image" src="/img/service5.png" alt="" />
          <h4>Bilingual Services</h4>
          <p>
            Want to connect your business in the Japanese market or want to run it smoothly ? Our bi-lingual experts have rich knowledge of Japanese and English who are ready to serve your business needs either its real-time interpretation of document translation.
          </p>
        </div>
      </div>
      <!-- service item end -->
    </div>
  </div>
</section>

<!-- ======= Get Started Section ======= -->
<section id="get-started" class="get-started section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
        <h2>Get Started</h2>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
